/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: "Century Gothic" Helvetica, sans-serif;
	background-size:50px 50px;
	background: url('../images/bg.png') center 0;
}
.wrap{
	margin:0 auto; 
	width: 96%;
}
.main{
	text-align:center;
	margin:4% 0 0%;
}
h1{
	font-family: 'Condiment', cursive;
	margin-top:20px;
	color: #EA3C4D;
	font-size: 2.4em;
	text-transform:capitalize;
	font-weight: bold;
}
p{
	color:#999;
	font-size: 0.9em;
	line-height: 1.8em;
}
/*footer*/
.footer {
    font-family: "Century Gothic";
    text-align: right;
}
.footer p {
    font-size: 1em;
    color: #999;
    margin-top: 3em;
}
.footer a{
	color: #EA3C4D;
}
.footer a:hover{
	text-decoration:underline;
}
/*media queries*/
@media all and (max-width:1366px) and (min-width:1280px){
	.wrap{
		width: 90%;
	}
}
@media all and (max-width:1280px) and (min-width:1024px){
.wrap{
	width: 90%;
}
.page{
	font-size:1.4em;
}
}	
@media all and (max-width:1024px) and (min-width:800px){
.wrap{
	width: 90%;
}
.main{
	margin: 6% 0 0%;
}
}
@media all and (max-width:800px) and (min-width:640px){
.wrap{
	width: 90%;
}
.main{
	margin: 8% 0 0%;
}
.footer p {
    font-size: 0.9em;
    margin-top: 2em;
}
}
@media all and (max-width:640px) and (min-width:480px){
.wrap{
	width: 90%;
}
h1{
	text-align: left;
	font-size: 1.8em;
}
.main{
	margin: 4% 0 0%;
}
}
@media all and (max-width:480px) and (min-width:320px){
.wrap{
	width: 90%;
}
h1{
	text-align: left;
	font-size: 1.4em;
}
.main{
	margin: 3% 0 0%;
}
.footer p {
    margin-top: 2em;
	text-align:center;
	font-size:0.9em;
}
}
@media all and (max-width:320px){
.wrap{
	width: 90%;
}
h1{
	text-align: left;
	font-size: 1.0em;
}
.main{
	margin: 3% 0 0%;
}
p{
	margin-top:2%;
	line-height: 1.4em;
}
.footer p{
	font-size: 0.9em;
}
}
@color-primary: #30A9DE;
@color-secondary: #30A9DE;
@color-tertiary: #30A9DE;
@color-primary-light: #6AAFE6;
@color-primary-dark: #8EC0E4;
@Distance: 1000px;

body{
  overflow: hidden;
}

html, body {
  position: relative;
  background: #D4DFE6 ;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #274c5e;
}

.Container {
  text-align: center;
  position: relative;
}

.MainTitle {
  display: block;
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
}

.MainDescription {
  max-width: 50%;
  font-size: 1.2rem;
  font-weight: lighter;
}

.MainGraphic {
  position: relative;
}

.Cog {
  width: 10rem;
  height: 10rem;
  fill: @color-primary-light;
  transition: easeInOutQuint();
  animation: CogAnimation 5s infinite;
}

.Spanner {
  position: absolute;
  transform: rotate(20deg);
  top: 10%;
  left: 20%;
  width: 10rem;
  height: 10rem;
  fill: @color-primary-dark;
  animation: SpannerAnimation 4s infinite;  
}

.Hummingbird{
  position: absolute;
  width: 3rem;
  height: 3rem;
  fill: @color-primary;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);  
}

@keyframes CogAnimation {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes SpannerAnimation {
    0%   {
      transform: 
        translate3d(20px, 20px,1px)
        rotate(0deg);
    }
    10% {
      transform: 
        translate3d(-@Distance, @Distance, 1px)           
        rotate(180deg);
    }
    15% {
      transform: 
        translate3d(-@Distance, @Distance, 1px)           
        rotate(360deg);
    }    
    20% {
      transform: 
        translate3d(@Distance, -@Distance, 1px)           
        rotate(180deg);
    }
    30% {
      transform: 
        translate3d(-@Distance, @Distance, 1px)           
        rotate(360deg);
    }  
    40% {
      transform: 
        translate3d(@Distance, -@Distance, 1px)           
        rotate(360deg);
    }
    50% {
      transform: 
        translate3d(-@Distance, @Distance, 1px)           
        rotate(180deg);
    }    
    100% {
      transform: 
        translate3d(0, 0px, 0px)           
        rotate(360deg);
    }  
}