<template>
    <div>
        <div style="margin-bottom:20px;text-align: right;">
            <a-button-group>
                <a-button type="primary" size="large">
                    <router-link to="/admin/posts/create">
                        <a-icon type="plus" /> New post
                    </router-link>
                </a-button>
            </a-button-group>
        </div>
        <a-form layout='inline'>
            <a-form-item fieldDecoratorId="userName">
                <a-input placeholder='Post Title'>
                    <a-icon slot="prefix" type='file' style="color:rgba(0,0,0,.25)" />
                </a-input>
            </a-form-item>
            <!-- <a-form-item fieldDecoratorId="password">
                <a-select showSearch placeholder="Choose category" optionFilterProp="children" style="width: 180px">
                    <a-select-option value="jack">Jack</a-select-option>
                    <a-select-option value="lucy">Lucy</a-select-option>
                    <a-select-option value="tom">Tom</a-select-option>
                </a-select>
            </a-form-item> -->
            <a-form-item fieldDecoratorId="password">
                <a-select showSearch placeholder="Post author" optionFilterProp="children" style="width: 180px">

                    <a-select-option value="jack">Jack</a-select-option>
                    <a-select-option value="lucy">Lucy</a-select-option>
                    <a-select-option value="tom">Tom</a-select-option>
                </a-select>
            </a-form-item>
            <a-form-item>
                <a-range-picker>
                    <template slot="dateRender" slot-scope="current">
                                <div class="ant-calendar-date" :style="getCurrentStyle(current)">
                                {{current.date()}}
                                </div>
                    </template>
                </a-range-picker>
            </a-form-item>
        </a-form>
        <div style="margin: 24px 0" />
        <a-table
            :rowSelection="rowSelection"
            :columns="columns"
            :rowKey="record => record.id"
            :dataSource="data"
            :pagination="pagination"
            :loading="loading"
            bordered
        >
            <template slot="image" slot-scope="avatar">
                <a-avatar shape="square" size="large" icon="user" />
            </template>

            <template slot="created_at" slot-scope="created_at">
                <a-date-picker :defaultValue="moment(created_at, 'YYYY-MM-DD')" />
            </template>

            <template slot="title" slot-scope="record">
                <router-link :to="{name: 'posts.edit', params: { id: record.id }}">
                    {{ record.title }}
                </router-link>
            </template>

            <template slot="actions" slot-scope="record">
                <a-popconfirm
                title="Are you sure？"
                @confirm="() => onDelete(record.id)">
                    <a-icon slot="icon" type="question-circle-o" style="color: red" />
                    <a href="javascript:;">Delete</a>
                </a-popconfirm>
            </template>
        </a-table>
    </div>
</template>

<script>
    const columns = [{
        title: 'Image',
        dataIndex: 'image',
        sorted: false,
        width: '100px',
        scopedSlots: {
            customRender: 'image'
        }

    }, {
        title: 'Title',
        sorter: true,
        scopedSlots: {
            customRender: 'title'
        }
    }, {
    //     title: 'Category',
    //     sorter: false,
    //     dataIndex: 'category',
    //     width: "100px"
    // }, {
        title: 'Author',
        sorter: false,
        dataIndex: 'author',
    }, {
        title: 'Created at',
        sorter: true,
        dataIndex: 'created_at',
        scopedSlots: {
            customRender: 'created_at'
        }
    }, {
        title: 'Actions',
        sorter: false,
        width: "100px",
        scopedSlots: {
            customRender: 'actions'
        }
    }];

    import moment from 'moment';

    export default {
        mounted() {

        },
        data() {
            return {
                moment: moment,
                data: [],
                pagination: {},
                loading: false,
                columns
            }
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                this.error = this.data = null;
                this.loading = true;
                axios
                    .get('/api/posts')
                    .then(response => {
                        this.loading = false;
                        this.data = response.data;
                    });
            },
            getCurrentStyle(current, today) {
                const style = {}
                if (current.date() === 1) {
                    style.border = '1px solid #1890ff'
                    style.borderRadius = '50%'
                }
                return style
            },
            categoryChangeHandler(value) {
                console.log(value);
            },
            onDelete(post_id) {
                const dataSource = [...this.data];
                var table = this;
                axios({
                    url: '/api/posts/' + post_id,
                    method: 'POST',
                    data: {
                        id: post_id,
                        _method: 'delete'
                    }
                })
                .then(function(response){
                    table.data = dataSource.filter(item => item.id !== post_id);
                })
                .catch(function(error){
                    console.log(error);
                });

            }
        },
        computed: {
            rowSelection() {
                const {
                    selectedRowKeys
                } = this;
                return {
                    onChange: (selectedRowKeys, selectedRows) => {
                        console.log(`selectedRowKeys: ${selectedRowKeys}`, 'selectedRows: ', selectedRows);
                    },
                    getCheckboxProps: record => ({
                        props: {
                            disabled: record.name === 'Disabled User', // Column configuration not to be checked
                            name: record.name,
                        }
                    }),
                }
            }
        }
    }
</script>
