<template>
    <a-form @submit="handleSubmit" :autoFormCreate="(form)=>{this.form = form}">
         <a-alert
            v-if="visible"
            :message="message"
            closable
            :type="type"
            showIcon
        />
        <a-form-item :labelCol="labelCol" :wrapperCol="wrapperCol" fieldDecoratorId="title" label='Post Title' :fieldDecoratorOptions="{rules: [{ required: true, message: 'Please input post title' }]}">
            <a-input placeholder='Post title' id='error' />
        </a-form-item>

        <a-form-item :labelCol="labelCol" :wrapperCol="wrapperCol" label='Post Content' fieldDecoratorId="content" :fieldDecoratorOptions="{rules: [{ required: true, message: 'Please input post content' }]}">
            <a-textarea placeholder="Autosize height with minimum and maximum number of lines" :autosize="{ minRows: 12, maxRows: 20 }" />
        </a-form-item>
        <a-form-item :labelCol="labelCol" :wrapperCol="wrapperCol" label="Post Thumbnail">
            <a-upload-dragger name="file" :multiple="false" listType="picture" action="//jsonplaceholder.typicode.com/posts/">
                <p class="ant-upload-drag-icon">
                    <a-icon type="inbox" />
                </p>
                <p class="ant-upload-text">Click or drag file to this area to upload</p>
                <p class="ant-upload-hint">Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files</p>
            </a-upload-dragger>
        </a-form-item>
        <a-form-item style="text-align: center;">
            <a-button size="large" type="primary" htmlType="submit">
                <a-icon type="save" /> Save Post
            </a-button>
        </a-form-item>
    </a-form>
</template>

<script>
    export default {
        data() {
            return {
                visible: false,
                message: "message",
                alertType: "success",
                labelCol: {
                    xs: {
                        span: 24
                    },
                    sm: {
                        span: 5
                    },
                },
                wrapperCol: {
                    xs: {
                        span: 24
                    },
                    sm: {
                        span: 12
                    },
                },
            }
        },
        methods: {
            handleSubmit(e) {
                e.preventDefault();
                var post = this;
                this.form.validateFields((err, values) => {
                    if (!err) {
                        axios({
                            method: 'post',
                            url: '/api/posts',
                            data: values,
                            headers: {
                                // We will use it when use session to access application
                                // 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                            }
                        })
                        .then(function(response){
                            post.visible = true;
                            if (response.data.post) {
                                post.message = 'Create post is successful';
                                post.type = 'success';
                            } else {
                                post.message = 'Create post is failed';
                                post.type = 'error';
                            }
                        })
                        .catch(function(error){
                            console.log(error);
                        });
                    }
                })
            }
        }
    }
</script>
