<template>
    <a-table
        :rowSelection="rowSelection"
        :columns="columns"
        :rowKey="record => record.id"
        :dataSource="data"
        :pagination="pagination"
        :loading="loading"
        bordered
    >
        <template slot="avatar" slot-scope="avatar">
            <a-avatar size="large" icon="user"/>
        </template>
    </a-table>
</template>

<script>
    const columns = [{
        title: 'Avatar',
        dataIndex: 'avatar',
        sorted: false,
        width: '20%',
        scopedSlots: {
            customRender: 'avatar'
        }

    }, {
        title: 'Name',
        dataIndex: 'name',
        sorter: true,
        width: '20%',
        scopedSlots: {
            customRender: 'name'
        },
    }, {
        title: 'Email',
        sorter: true,
        dataIndex: 'email',
    }];
    export default {
        mounted() {
    
        },
        data() {
            return {
                data: [],
                pagination: {},
                loading: false,
                columns
            }
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                this.error = this.data = null;
                this.loading = true;
                axios
                    .get('/api/users')
                    .then(response => {
                        this.loading = false;
                        this.data = response.data;
                    });
            }
        },
        computed: {
            rowSelection() {
            const { selectedRowKeys } = this;
            return {
                onChange: (selectedRowKeys, selectedRows) => {
                console.log(`selectedRowKeys: ${selectedRowKeys}`, 'selectedRows: ', selectedRows);
                },
                getCheckboxProps: record => ({
                props: {
                    disabled: record.name === 'Disabled User', // Column configuration not to be checked
                    name: record.name,
                }
                }),
            }
            }
        }
    }
</script>
