<template>
    <a-layout-header class="header">
      <div class="logo" />
      <MainNav />
    </a-layout-header>
</template>

<style>
#components-layout-demo-top-side .logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 28px 16px 0;
  float: left;
}
</style>

<script>
  import MainNav from "./MainNav.vue"
  export default {
    components: {
      MainNav
    }
  }
</script>