<template>
    <a-menu
        theme="dark"
        mode="horizontal"
        :defaultSelectedKeys="['2']"
        :style="{ lineHeight: '64px' }"
    >
        <a-menu-item key="1">
            <router-link to="/admin">Dashboard</router-link>
        </a-menu-item>
        <a-menu-item key="2">
            <router-link to="/admin/posts">Posts</router-link>
        </a-menu-item>
        <a-menu-item key="3">
            <router-link to="/admin/users">Members</router-link>
        </a-menu-item>
    </a-menu>
</template>
