<template>
    <a-layout-sider width="200" style="background: #fff">
        <a-menu
        mode="inline"
        :defaultSelectedKeys="['1']"
        :defaultOpenKeys="['sub1']"
        style="height: 100%"
        >
            
            <a-sub-menu key="sub1">
                <span slot="title"><a-icon type="laptop" />Posts</span>
                <a-menu-item key="1">
                    <router-link to="/admin/posts">All posts</router-link>
                </a-menu-item>
                <a-menu-item key="2">
                    <router-link to="/admin/posts/create">Add new</router-link>
                </a-menu-item>
                <a-menu-item key="3">
                    <router-link to="/admin/posts/categories">Categories</router-link>
                </a-menu-item>
            </a-sub-menu>
            <a-menu-item key="10">
                <router-link to="/admin/files">
                    <a-icon type="folder" />
                    File Manager
                </router-link>
            </a-menu-item>
            <a-menu-item key="15">
                <router-link to="/admin/users">
                    <a-icon type="user" />
                    Members
                </router-link>
            </a-menu-item>
        </a-menu>
    </a-layout-sider>
</template>
