<template>
    <a-layout id="components-layout-demo-top-side">
        <Header />
        <a-layout-content style="padding: 0 50px">
            <Breadcrumb />
            <a-layout style="padding: 24px 0; background: #fff">
                <Sidebar />
                <a-layout-content :style="{ padding: '0 24px', minHeight: '280px' }">
                    <router-view></router-view>
                </a-layout-content>
            </a-layout>
        </a-layout-content>
        <Footer />
    </a-layout>
</template>

<script>
import Header from "../partials/admin/Header.vue"
import Breadcrumb from "../partials/admin/Breadcrumb.vue"
import Sidebar from "../partials/admin/Sidebar.vue"
import Footer from "../partials/admin/Footer.vue"
export default {
    components: {
        Header,
        Breadcrumb,
        Sidebar,
        Footer
    }
}
</script>
